Presentaciones/Resultados[[:space:]]Participaci*.pdf filter=lfs diff=lfs merge=lfs -text
Presentaciones/Diagn*ico[[:space:]]cartogr*.pdf filter=lfs diff=lfs merge=lfs -text
Presentaciones/Di*ico[[:space:]]Socioterritorial*.pdf filter=lfs diff=lfs merge=lfs -text
Presentaciones/Presentaci*PLADECO[[:space:]](Inicio*.pdf filter=lfs diff=lfs merge=lfs -text
